.whomefeaturedblock .wslide .wtext p.category_{background-color:#;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#;}
.wlistings .wlisting .post_category_ span.text{background:#;}
.widget_categories_list a.widget_cat_{background:#;}

.whomefeaturedblock .wslide .wtext p.category_small-business-education{background-color:#FF11FF;}
.wlistingsingle .wlistingsingleheadertags p.category_small-business-education{background:#FF11FF;}
.wlistings .wlisting .post_category_small-business-education span.text{background:#FF11FF;}
.widget_categories_list a.widget_cat_small-business-education{background:#FF11FF;}

.whomefeaturedblock .wslide .wtext p.category_cybercrime{background-color:#666666;}
.wlistingsingle .wlistingsingleheadertags p.category_cybercrime{background:#666666;}
.wlistings .wlisting .post_category_cybercrime span.text{background:#666666;}
.widget_categories_list a.widget_cat_cybercrime{background:#666666;}

.whomefeaturedblock .wslide .wtext p.category_cybercrime-deutsch{background-color:#666666;}
.wlistingsingle .wlistingsingleheadertags p.category_cybercrime-deutsch{background:#666666;}
.wlistings .wlisting .post_category_cybercrime-deutsch span.text{background:#666666;}
.widget_categories_list a.widget_cat_cybercrime-deutsch{background:#666666;}

.whomefeaturedblock .wslide .wtext p.category_malware{background-color:#2A5CB4;}
.wlistingsingle .wlistingsingleheadertags p.category_malware{background:#2A5CB4;}
.wlistings .wlisting .post_category_malware span.text{background:#2A5CB4;}
.widget_categories_list a.widget_cat_malware{background:#2A5CB4;}

.whomefeaturedblock .wslide .wtext p.category_malware-deutsch{background-color:#2A5CB4;}
.wlistingsingle .wlistingsingleheadertags p.category_malware-deutsch{background:#2A5CB4;}
.wlistings .wlisting .post_category_malware-deutsch span.text{background:#2A5CB4;}
.widget_categories_list a.widget_cat_malware-deutsch{background:#2A5CB4;}

.whomefeaturedblock .wslide .wtext p.category_password{background-color:#00A3E7;}
.wlistingsingle .wlistingsingleheadertags p.category_password{background:#00A3E7;}
.wlistings .wlisting .post_category_password span.text{background:#00A3E7;}
.widget_categories_list a.widget_cat_password{background:#00A3E7;}

.whomefeaturedblock .wslide .wtext p.category_privacy{background-color:#694311;}
.wlistingsingle .wlistingsingleheadertags p.category_privacy{background:#694311;}
.wlistings .wlisting .post_category_privacy span.text{background:#694311;}
.widget_categories_list a.widget_cat_privacy{background:#694311;}

.whomefeaturedblock .wslide .wtext p.category_scams{background-color:#E06614;}
.wlistingsingle .wlistingsingleheadertags p.category_scams{background:#E06614;}
.wlistings .wlisting .post_category_scams span.text{background:#E06614;}
.widget_categories_list a.widget_cat_scams{background:#E06614;}

.whomefeaturedblock .wslide .wtext p.category_scams-deutsch{background-color:#E06614;}
.wlistingsingle .wlistingsingleheadertags p.category_scams-deutsch{background:#E06614;}
.wlistings .wlisting .post_category_scams-deutsch span.text{background:#E06614;}
.widget_categories_list a.widget_cat_scams-deutsch{background:#E06614;}

.whomefeaturedblock .wslide .wtext p.category_how-to{background-color:#7ABC18;}
.wlistingsingle .wlistingsingleheadertags p.category_how-to{background:#7ABC18;}
.wlistings .wlisting .post_category_how-to span.text{background:#7ABC18;}
.widget_categories_list a.widget_cat_how-to{background:#7ABC18;}

.whomefeaturedblock .wslide .wtext p.category_social-engineering{background-color:#744A8C;}
.wlistingsingle .wlistingsingleheadertags p.category_social-engineering{background:#744A8C;}
.wlistings .wlisting .post_category_social-engineering span.text{background:#744A8C;}
.widget_categories_list a.widget_cat_social-engineering{background:#744A8C;}

.whomefeaturedblock .wslide .wtext p.category_hacking{background-color:#D71525;}
.wlistingsingle .wlistingsingleheadertags p.category_hacking{background:#D71525;}
.wlistings .wlisting .post_category_hacking span.text{background:#D71525;}
.widget_categories_list a.widget_cat_hacking{background:#D71525;}

.whomefeaturedblock .wslide .wtext p.category_threats{background-color:#A70963;}
.wlistingsingle .wlistingsingleheadertags p.category_threats{background:#A70963;}
.wlistings .wlisting .post_category_threats span.text{background:#A70963;}
.widget_categories_list a.widget_cat_threats{background:#A70963;}

.whomefeaturedblock .wslide .wtext p.category_android-2{background-color:#CE1B8D;}
.wlistingsingle .wlistingsingleheadertags p.category_android-2{background:#CE1B8D;}
.wlistings .wlisting .post_category_android-2 span.text{background:#CE1B8D;}
.widget_categories_list a.widget_cat_android-2{background:#CE1B8D;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#828282;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#828282;}
.wlistings .wlisting .post_category_ span.text{background:#828282;}
.widget_categories_list a.widget_cat_{background:#828282;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#42B29E;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#42B29E;}
.wlistings .wlisting .post_category_ span.text{background:#42B29E;}
.widget_categories_list a.widget_cat_{background:#42B29E;}

.whomefeaturedblock .wslide .wtext p.category_mobile-security{background-color:#0215D7;}
.wlistingsingle .wlistingsingleheadertags p.category_mobile-security{background:#0215D7;}
.wlistings .wlisting .post_category_mobile-security span.text{background:#0215D7;}
.widget_categories_list a.widget_cat_mobile-security{background:#0215D7;}

.whomefeaturedblock .wslide .wtext p.category_mobile-security-deutsch{background-color:#0215D7;}
.wlistingsingle .wlistingsingleheadertags p.category_mobile-security-deutsch{background:#0215D7;}
.wlistings .wlisting .post_category_mobile-security-deutsch span.text{background:#0215D7;}
.widget_categories_list a.widget_cat_mobile-security-deutsch{background:#0215D7;}

.whomefeaturedblock .wslide .wtext p.category_windows{background-color:#A7BA3D;}
.wlistingsingle .wlistingsingleheadertags p.category_windows{background:#A7BA3D;}
.wlistings .wlisting .post_category_windows span.text{background:#A7BA3D;}
.widget_categories_list a.widget_cat_windows{background:#A7BA3D;}

.whomefeaturedblock .wslide .wtext p.category_mac{background-color:#BA9B3D;}
.wlistingsingle .wlistingsingleheadertags p.category_mac{background:#BA9B3D;}
.wlistings .wlisting .post_category_mac span.text{background:#BA9B3D;}
.widget_categories_list a.widget_cat_mac{background:#BA9B3D;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#006B6E;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#006B6E;}
.wlistings .wlisting .post_category_ span.text{background:#006B6E;}
.widget_categories_list a.widget_cat_{background:#006B6E;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#006B6E;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#006B6E;}
.wlistings .wlisting .post_category_ span.text{background:#006B6E;}
.widget_categories_list a.widget_cat_{background:#006B6E;}

.whomefeaturedblock .wslide .wtext p.category_banking{background-color:#A1731A;}
.wlistingsingle .wlistingsingleheadertags p.category_banking{background:#A1731A;}
.wlistings .wlisting .post_category_banking span.text{background:#A1731A;}
.widget_categories_list a.widget_cat_banking{background:#A1731A;}

.whomefeaturedblock .wslide .wtext p.category_banking-deutsch-2{background-color:#A1731A;}
.wlistingsingle .wlistingsingleheadertags p.category_banking-deutsch-2{background:#A1731A;}
.wlistings .wlisting .post_category_banking-deutsch-2 span.text{background:#A1731A;}
.widget_categories_list a.widget_cat_banking-deutsch-2{background:#A1731A;}

.whomefeaturedblock .wslide .wtext p.category_social-media-2{background-color:#D49C03;}
.wlistingsingle .wlistingsingleheadertags p.category_social-media-2{background:#D49C03;}
.wlistings .wlisting .post_category_social-media-2 span.text{background:#D49C03;}
.widget_categories_list a.widget_cat_social-media-2{background:#D49C03;}

.whomefeaturedblock .wslide .wtext p.category_linux{background-color:#9E3DBA;}
.wlistingsingle .wlistingsingleheadertags p.category_linux{background:#9E3DBA;}
.wlistings .wlisting .post_category_linux span.text{background:#9E3DBA;}
.widget_categories_list a.widget_cat_linux{background:#9E3DBA;}

.whomefeaturedblock .wslide .wtext p.category_interview{background-color:#2A932A;}
.wlistingsingle .wlistingsingleheadertags p.category_interview{background:#2A932A;}
.wlistings .wlisting .post_category_interview span.text{background:#2A932A;}
.widget_categories_list a.widget_cat_interview{background:#2A932A;}

.whomefeaturedblock .wslide .wtext p.category_interview-deutsch{background-color:#2A932A;}
.wlistingsingle .wlistingsingleheadertags p.category_interview-deutsch{background:#2A932A;}
.wlistings .wlisting .post_category_interview-deutsch span.text{background:#2A932A;}
.widget_categories_list a.widget_cat_interview-deutsch{background:#2A932A;}

.whomefeaturedblock .wslide .wtext p.category_phishing-deutsch{background-color:#36A546;}
.wlistingsingle .wlistingsingleheadertags p.category_phishing-deutsch{background:#36A546;}
.wlistings .wlisting .post_category_phishing-deutsch span.text{background:#36A546;}
.widget_categories_list a.widget_cat_phishing-deutsch{background:#36A546;}

.whomefeaturedblock .wslide .wtext p.category_passwort{background-color:#00A3E7;}
.wlistingsingle .wlistingsingleheadertags p.category_passwort{background:#00A3E7;}
.wlistings .wlisting .post_category_passwort span.text{background:#00A3E7;}
.widget_categories_list a.widget_cat_passwort{background:#00A3E7;}

.whomefeaturedblock .wslide .wtext p.category_anleitungen{background-color:#109696;}
.wlistingsingle .wlistingsingleheadertags p.category_anleitungen{background:#109696;}
.wlistings .wlisting .post_category_anleitungen span.text{background:#109696;}
.widget_categories_list a.widget_cat_anleitungen{background:#109696;}

.whomefeaturedblock .wslide .wtext p.category_facebook{background-color:#0967C4;}
.wlistingsingle .wlistingsingleheadertags p.category_facebook{background:#0967C4;}
.wlistings .wlisting .post_category_facebook span.text{background:#0967C4;}
.widget_categories_list a.widget_cat_facebook{background:#0967C4;}

.whomefeaturedblock .wslide .wtext p.category_how-to-deutsch-2{background-color:#7ABC18;}
.wlistingsingle .wlistingsingleheadertags p.category_how-to-deutsch-2{background:#7ABC18;}
.wlistings .wlisting .post_category_how-to-deutsch-2 span.text{background:#7ABC18;}
.widget_categories_list a.widget_cat_how-to-deutsch-2{background:#7ABC18;}

.whomefeaturedblock .wslide .wtext p.category_amenazas-informaticas-la{background-color:#2A5CB4;}
.wlistingsingle .wlistingsingleheadertags p.category_amenazas-informaticas-la{background:#2A5CB4;}
.wlistings .wlisting .post_category_amenazas-informaticas-la span.text{background:#2A5CB4;}
.widget_categories_list a.widget_cat_amenazas-informaticas-la{background:#2A5CB4;}

.whomefeaturedblock .wslide .wtext p.category_alertas{background-color:#C61D1D;}
.wlistingsingle .wlistingsingleheadertags p.category_alertas{background:#C61D1D;}
.wlistings .wlisting .post_category_alertas span.text{background:#C61D1D;}
.widget_categories_list a.widget_cat_alertas{background:#C61D1D;}

.whomefeaturedblock .wslide .wtext p.category_concientizacion-la{background-color:#AFAF0F;}
.wlistingsingle .wlistingsingleheadertags p.category_concientizacion-la{background:#AFAF0F;}
.wlistings .wlisting .post_category_concientizacion-la span.text{background:#AFAF0F;}
.widget_categories_list a.widget_cat_concientizacion-la{background:#AFAF0F;}

.whomefeaturedblock .wslide .wtext p.category_tutoriales{background-color:#5FBF00;}
.wlistingsingle .wlistingsingleheadertags p.category_tutoriales{background:#5FBF00;}
.wlistings .wlisting .post_category_tutoriales span.text{background:#5FBF00;}
.widget_categories_list a.widget_cat_tutoriales{background:#5FBF00;}

.whomefeaturedblock .wslide .wtext p.category_ingenieria-social{background-color:#744A8C;}
.wlistingsingle .wlistingsingleheadertags p.category_ingenieria-social{background:#744A8C;}
.wlistings .wlisting .post_category_ingenieria-social span.text{background:#744A8C;}
.widget_categories_list a.widget_cat_ingenieria-social{background:#744A8C;}

.whomefeaturedblock .wslide .wtext p.category_gira-antivirus-eset{background-color:#006B6E;}
.wlistingsingle .wlistingsingleheadertags p.category_gira-antivirus-eset{background:#006B6E;}
.wlistings .wlisting .post_category_gira-antivirus-eset span.text{background:#006B6E;}
.widget_categories_list a.widget_cat_gira-antivirus-eset{background:#006B6E;}

.whomefeaturedblock .wslide .wtext p.category_redes-sociales-la{background-color:#FF7F00;}
.wlistingsingle .wlistingsingleheadertags p.category_redes-sociales-la{background:#FF7F00;}
.wlistings .wlisting .post_category_redes-sociales-la span.text{background:#FF7F00;}
.widget_categories_list a.widget_cat_redes-sociales-la{background:#FF7F00;}

.whomefeaturedblock .wslide .wtext p.category_enganos-2{background-color:#7F7F7F;}
.wlistingsingle .wlistingsingleheadertags p.category_enganos-2{background:#7F7F7F;}
.wlistings .wlisting .post_category_enganos-2 span.text{background:#7F7F7F;}
.widget_categories_list a.widget_cat_enganos-2{background:#7F7F7F;}

.whomefeaturedblock .wslide .wtext p.category_cibercrimen-la{background-color:#BF5F00;}
.wlistingsingle .wlistingsingleheadertags p.category_cibercrimen-la{background:#BF5F00;}
.wlistings .wlisting .post_category_cibercrimen-la span.text{background:#BF5F00;}
.widget_categories_list a.widget_cat_cibercrimen-la{background:#BF5F00;}

.whomefeaturedblock .wslide .wtext p.category_privacidad-la-es{background-color:#5F00BF;}
.wlistingsingle .wlistingsingleheadertags p.category_privacidad-la-es{background:#5F00BF;}
.wlistings .wlisting .post_category_privacidad-la-es span.text{background:#5F00BF;}
.widget_categories_list a.widget_cat_privacidad-la-es{background:#5F00BF;}

.whomefeaturedblock .wslide .wtext p.category_phishing-la-es{background-color:#35604A;}
.wlistingsingle .wlistingsingleheadertags p.category_phishing-la-es{background:#35604A;}
.wlistings .wlisting .post_category_phishing-la-es span.text{background:#35604A;}
.widget_categories_list a.widget_cat_phishing-la-es{background:#35604A;}

.whomefeaturedblock .wslide .wtext p.category_dispositivos-moviles-la{background-color:#7F003F;}
.wlistingsingle .wlistingsingleheadertags p.category_dispositivos-moviles-la{background:#7F003F;}
.wlistings .wlisting .post_category_dispositivos-moviles-la span.text{background:#7F003F;}
.widget_categories_list a.widget_cat_dispositivos-moviles-la{background:#7F003F;}

.whomefeaturedblock .wslide .wtext p.category_consejos-la{background-color:#00BFBF;}
.wlistingsingle .wlistingsingleheadertags p.category_consejos-la{background:#00BFBF;}
.wlistings .wlisting .post_category_consejos-la span.text{background:#00BFBF;}
.widget_categories_list a.widget_cat_consejos-la{background:#00BFBF;}

.whomefeaturedblock .wslide .wtext p.category_actualidad{background-color:#007F3F;}
.wlistingsingle .wlistingsingleheadertags p.category_actualidad{background:#007F3F;}
.wlistings .wlisting .post_category_actualidad span.text{background:#007F3F;}
.widget_categories_list a.widget_cat_actualidad{background:#007F3F;}

.whomefeaturedblock .wslide .wtext p.category_analisis-malware{background-color:#5656FF;}
.wlistingsingle .wlistingsingleheadertags p.category_analisis-malware{background:#5656FF;}
.wlistings .wlisting .post_category_analisis-malware span.text{background:#5656FF;}
.widget_categories_list a.widget_cat_analisis-malware{background:#5656FF;}

.whomefeaturedblock .wslide .wtext p.category_herramientas{background-color:#7F7F00;}
.wlistingsingle .wlistingsingleheadertags p.category_herramientas{background:#7F7F00;}
.wlistings .wlisting .post_category_herramientas span.text{background:#7F7F00;}
.widget_categories_list a.widget_cat_herramientas{background:#7F7F00;}

.whomefeaturedblock .wslide .wtext p.category_multimedia{background-color:#BF005F;}
.wlistingsingle .wlistingsingleheadertags p.category_multimedia{background:#BF005F;}
.wlistings .wlisting .post_category_multimedia span.text{background:#BF005F;}
.widget_categories_list a.widget_cat_multimedia{background:#BF005F;}

.whomefeaturedblock .wslide .wtext p.category_seguridad-corporativa{background-color:#10107F;}
.wlistingsingle .wlistingsingleheadertags p.category_seguridad-corporativa{background:#10107F;}
.wlistings .wlisting .post_category_seguridad-corporativa span.text{background:#10107F;}
.widget_categories_list a.widget_cat_seguridad-corporativa{background:#10107F;}

.whomefeaturedblock .wslide .wtext p.category_vulnerabilidades-la{background-color:#7C6B8E;}
.wlistingsingle .wlistingsingleheadertags p.category_vulnerabilidades-la{background:#7C6B8E;}
.wlistings .wlisting .post_category_vulnerabilidades-la span.text{background:#7C6B8E;}
.widget_categories_list a.widget_cat_vulnerabilidades-la{background:#7C6B8E;}

.whomefeaturedblock .wslide .wtext p.category_spam-la-es{background-color:#AA5D14;}
.wlistingsingle .wlistingsingleheadertags p.category_spam-la-es{background:#AA5D14;}
.wlistings .wlisting .post_category_spam-la-es span.text{background:#AA5D14;}
.widget_categories_list a.widget_cat_spam-la-es{background:#AA5D14;}

.whomefeaturedblock .wslide .wtext p.category_ransomware-latam{background-color:#FF56AA;}
.wlistingsingle .wlistingsingleheadertags p.category_ransomware-latam{background:#FF56AA;}
.wlistings .wlisting .post_category_ransomware-latam span.text{background:#FF56AA;}
.widget_categories_list a.widget_cat_ransomware-latam{background:#FF56AA;}

.whomefeaturedblock .wslide .wtext p.category_opinion-de-experto{background-color:#000000;}
.wlistingsingle .wlistingsingleheadertags p.category_opinion-de-experto{background:#000000;}
.wlistings .wlisting .post_category_opinion-de-experto span.text{background:#000000;}
.widget_categories_list a.widget_cat_opinion-de-experto{background:#000000;}

.whomefeaturedblock .wslide .wtext p.category_entrevistas-2{background-color:#7272AD;}
.wlistingsingle .wlistingsingleheadertags p.category_entrevistas-2{background:#7272AD;}
.wlistings .wlisting .post_category_entrevistas-2 span.text{background:#7272AD;}
.widget_categories_list a.widget_cat_entrevistas-2{background:#7272AD;}

.whomefeaturedblock .wslide .wtext p.category_eventos{background-color:#722727;}
.wlistingsingle .wlistingsingleheadertags p.category_eventos{background:#722727;}
.wlistings .wlisting .post_category_eventos span.text{background:#722727;}
.widget_categories_list a.widget_cat_eventos{background:#722727;}

.whomefeaturedblock .wslide .wtext p.category_investigaciones{background-color:#2BBC2B;}
.wlistingsingle .wlistingsingleheadertags p.category_investigaciones{background:#2BBC2B;}
.wlistings .wlisting .post_category_investigaciones span.text{background:#2BBC2B;}
.widget_categories_list a.widget_cat_investigaciones{background:#2BBC2B;}

.whomefeaturedblock .wslide .wtext p.category_opinion-2{background-color:#3F7A04;}
.wlistingsingle .wlistingsingleheadertags p.category_opinion-2{background:#3F7A04;}
.wlistings .wlisting .post_category_opinion-2 span.text{background:#3F7A04;}
.widget_categories_list a.widget_cat_opinion-2{background:#3F7A04;}

.whomefeaturedblock .wslide .wtext p.category_video-2{background-color:#CC181E;}
.wlistingsingle .wlistingsingleheadertags p.category_video-2{background:#CC181E;}
.wlistings .wlisting .post_category_video-2 span.text{background:#CC181E;}
.widget_categories_list a.widget_cat_video-2{background:#CC181E;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#0000FF;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#0000FF;}
.wlistings .wlisting .post_category_ span.text{background:#0000FF;}
.widget_categories_list a.widget_cat_{background:#0000FF;}

.whomefeaturedblock .wslide .wtext p.category_news{background-color:#0000FF;}
.wlistingsingle .wlistingsingleheadertags p.category_news{background:#0000FF;}
.wlistings .wlisting .post_category_news span.text{background:#0000FF;}
.widget_categories_list a.widget_cat_news{background:#0000FF;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#B2B205;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#B2B205;}
.wlistings .wlisting .post_category_ span.text{background:#B2B205;}
.widget_categories_list a.widget_cat_{background:#B2B205;}

.whomefeaturedblock .wslide .wtext p.category_cybersecurity{background-color:#B2B205;}
.wlistingsingle .wlistingsingleheadertags p.category_cybersecurity{background:#B2B205;}
.wlistings .wlisting .post_category_cybersecurity span.text{background:#B2B205;}
.widget_categories_list a.widget_cat_cybersecurity{background:#B2B205;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#FFD4AA;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#FFD4AA;}
.wlistings .wlisting .post_category_ span.text{background:#FFD4AA;}
.widget_categories_list a.widget_cat_{background:#FFD4AA;}

.whomefeaturedblock .wslide .wtext p.category_viruses-revealed{background-color:#D1741D;}
.wlistingsingle .wlistingsingleheadertags p.category_viruses-revealed{background:#D1741D;}
.wlistings .wlisting .post_category_viruses-revealed span.text{background:#D1741D;}
.widget_categories_list a.widget_cat_viruses-revealed{background:#D1741D;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#EDB989;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#EDB989;}
.wlistings .wlisting .post_category_ span.text{background:#EDB989;}
.widget_categories_list a.widget_cat_{background:#EDB989;}

.whomefeaturedblock .wslide .wtext p.category_2010{background-color:#EAAD75;}
.wlistingsingle .wlistingsingleheadertags p.category_2010{background:#EAAD75;}
.wlistings .wlisting .post_category_2010 span.text{background:#EAAD75;}
.widget_categories_list a.widget_cat_2010{background:#EAAD75;}

.whomefeaturedblock .wslide .wtext p.category_security{background-color:#6CB4FC;}
.wlistingsingle .wlistingsingleheadertags p.category_security{background:#6CB4FC;}
.wlistings .wlisting .post_category_security span.text{background:#6CB4FC;}
.widget_categories_list a.widget_cat_security{background:#6CB4FC;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#537C53;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#537C53;}
.wlistings .wlisting .post_category_ span.text{background:#537C53;}
.widget_categories_list a.widget_cat_{background:#537C53;}

.whomefeaturedblock .wslide .wtext p.category_awareness-deutsch{background-color:#3F7F00;}
.wlistingsingle .wlistingsingleheadertags p.category_awareness-deutsch{background:#3F7F00;}
.wlistings .wlisting .post_category_awareness-deutsch span.text{background:#3F7F00;}
.widget_categories_list a.widget_cat_awareness-deutsch{background:#3F7F00;}

.whomefeaturedblock .wslide .wtext p.category_expertenmeinung{background-color:#0909A5;}
.wlistingsingle .wlistingsingleheadertags p.category_expertenmeinung{background:#0909A5;}
.wlistings .wlisting .post_category_expertenmeinung span.text{background:#0909A5;}
.widget_categories_list a.widget_cat_expertenmeinung{background:#0909A5;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#4E069B;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#4E069B;}
.wlistings .wlisting .post_category_ span.text{background:#4E069B;}
.widget_categories_list a.widget_cat_{background:#4E069B;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#A5A503;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#A5A503;}
.wlistings .wlisting .post_category_ span.text{background:#A5A503;}
.widget_categories_list a.widget_cat_{background:#A5A503;}

.whomefeaturedblock .wslide .wtext p.category_strategien{background-color:#3585D6;}
.wlistingsingle .wlistingsingleheadertags p.category_strategien{background:#3585D6;}
.wlistings .wlisting .post_category_strategien span.text{background:#3585D6;}
.widget_categories_list a.widget_cat_strategien{background:#3585D6;}

.whomefeaturedblock .wslide .wtext p.category_gaming{background-color:#B25C0C;}
.wlistingsingle .wlistingsingleheadertags p.category_gaming{background:#B25C0C;}
.wlistings .wlisting .post_category_gaming span.text{background:#B25C0C;}
.widget_categories_list a.widget_cat_gaming{background:#B25C0C;}

.whomefeaturedblock .wslide .wtext p.category_internet-der-dinge{background-color:#E89D9D;}
.wlistingsingle .wlistingsingleheadertags p.category_internet-der-dinge{background:#E89D9D;}
.wlistings .wlisting .post_category_internet-der-dinge span.text{background:#E89D9D;}
.widget_categories_list a.widget_cat_internet-der-dinge{background:#E89D9D;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#A0A010;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#A0A010;}
.wlistings .wlisting .post_category_ span.text{background:#A0A010;}
.widget_categories_list a.widget_cat_{background:#A0A010;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#600DBA;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#600DBA;}
.wlistings .wlisting .post_category_ span.text{background:#600DBA;}
.widget_categories_list a.widget_cat_{background:#600DBA;}

.whomefeaturedblock .wslide .wtext p.category_android-deutsch{background-color:#1A85EF;}
.wlistingsingle .wlistingsingleheadertags p.category_android-deutsch{background:#1A85EF;}
.wlistings .wlisting .post_category_android-deutsch span.text{background:#1A85EF;}
.widget_categories_list a.widget_cat_android-deutsch{background:#1A85EF;}

.whomefeaturedblock .wslide .wtext p.category_privatsphare{background-color:#8888E0;}
.wlistingsingle .wlistingsingleheadertags p.category_privatsphare{background:#8888E0;}
.wlistings .wlisting .post_category_privatsphare span.text{background:#8888E0;}
.widget_categories_list a.widget_cat_privatsphare{background:#8888E0;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#6416B7;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#6416B7;}
.wlistings .wlisting .post_category_ span.text{background:#6416B7;}
.widget_categories_list a.widget_cat_{background:#6416B7;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#7F007F;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#7F007F;}
.wlistings .wlisting .post_category_ span.text{background:#7F007F;}
.widget_categories_list a.widget_cat_{background:#7F007F;}

.whomefeaturedblock .wslide .wtext p.category_kids-online{background-color:#FF0000;}
.wlistingsingle .wlistingsingleheadertags p.category_kids-online{background:#FF0000;}
.wlistings .wlisting .post_category_kids-online span.text{background:#FF0000;}
.widget_categories_list a.widget_cat_kids-online{background:#FF0000;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#4F910D;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#4F910D;}
.wlistings .wlisting .post_category_ span.text{background:#4F910D;}
.widget_categories_list a.widget_cat_{background:#4F910D;}

.whomefeaturedblock .wslide .wtext p.category_technology{background-color:#48840D;}
.wlistingsingle .wlistingsingleheadertags p.category_technology{background:#48840D;}
.wlistings .wlisting .post_category_technology span.text{background:#48840D;}
.widget_categories_list a.widget_cat_technology{background:#48840D;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#8989F4;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#8989F4;}
.wlistings .wlisting .post_category_ span.text{background:#8989F4;}
.widget_categories_list a.widget_cat_{background:#8989F4;}

.whomefeaturedblock .wslide .wtext p.category_estadisticas{background-color:#74DEFC;}
.wlistingsingle .wlistingsingleheadertags p.category_estadisticas{background:#74DEFC;}
.wlistings .wlisting .post_category_estadisticas span.text{background:#74DEFC;}
.widget_categories_list a.widget_cat_estadisticas{background:#74DEFC;}

.whomefeaturedblock .wslide .wtext p.category_ransomware-malware{background-color:#12AAAA;}
.wlistingsingle .wlistingsingleheadertags p.category_ransomware-malware{background:#12AAAA;}
.wlistings .wlisting .post_category_ransomware-malware span.text{background:#12AAAA;}
.widget_categories_list a.widget_cat_ransomware-malware{background:#12AAAA;}

.whomefeaturedblock .wslide .wtext p.category_{background-color:#3F6A96;}
.wlistingsingle .wlistingsingleheadertags p.category_{background:#3F6A96;}
.wlistings .wlisting .post_category_ span.text{background:#3F6A96;}
.widget_categories_list a.widget_cat_{background:#3F6A96;}

.whomefeaturedblock .wslide .wtext p.category_survey{background-color:#005FBF;}
.wlistingsingle .wlistingsingleheadertags p.category_survey{background:#005FBF;}
.wlistings .wlisting .post_category_survey span.text{background:#005FBF;}
.widget_categories_list a.widget_cat_survey{background:#005FBF;}

.whomefeaturedblock .wslide .wtext p.category_ransomware-deutsch-2{background-color:#54CC24;}
.wlistingsingle .wlistingsingleheadertags p.category_ransomware-deutsch-2{background:#54CC24;}
.wlistings .wlisting .post_category_ransomware-deutsch-2 span.text{background:#54CC24;}
.widget_categories_list a.widget_cat_ransomware-deutsch-2{background:#54CC24;}

.whomefeaturedblock .wslide .wtext p.category_events{background-color:#C4C421;}
.wlistingsingle .wlistingsingleheadertags p.category_events{background:#C4C421;}
.wlistings .wlisting .post_category_events span.text{background:#C4C421;}
.widget_categories_list a.widget_cat_events{background:#C4C421;}

.whomefeaturedblock .wslide .wtext p.category_menores{background-color:#AA195F;}
.wlistingsingle .wlistingsingleheadertags p.category_menores{background:#AA195F;}
.wlistings .wlisting .post_category_menores span.text{background:#AA195F;}
.widget_categories_list a.widget_cat_menores{background:#AA195F;}

.whomefeaturedblock .wslide .wtext p.category_informes{background-color:#65A3A3;}
.wlistingsingle .wlistingsingleheadertags p.category_informes{background:#65A3A3;}
.wlistings .wlisting .post_category_informes span.text{background:#65A3A3;}
.widget_categories_list a.widget_cat_informes{background:#65A3A3;}

.whomefeaturedblock .wslide .wtext p.category_criptografia{background-color:#09BF79;}
.wlistingsingle .wlistingsingleheadertags p.category_criptografia{background:#09BF79;}
.wlistings .wlisting .post_category_criptografia span.text{background:#09BF79;}
.widget_categories_list a.widget_cat_criptografia{background:#09BF79;}

.whomefeaturedblock .wslide .wtext p.category_data-leakage{background-color:#0F8C8C;}
.wlistingsingle .wlistingsingleheadertags p.category_data-leakage{background:#0F8C8C;}
.wlistings .wlisting .post_category_data-leakage span.text{background:#0F8C8C;}
.widget_categories_list a.widget_cat_data-leakage{background:#0F8C8C;}

.whomefeaturedblock .wslide .wtext p.category_data-protection{background-color:#C6C689;}
.wlistingsingle .wlistingsingleheadertags p.category_data-protection{background:#C6C689;}
.wlistings .wlisting .post_category_data-protection span.text{background:#C6C689;}
.widget_categories_list a.widget_cat_data-protection{background:#C6C689;}

.whomefeaturedblock .wslide .wtext p.category_datenschutz{background-color:#0CA054;}
.wlistingsingle .wlistingsingleheadertags p.category_datenschutz{background:#0CA054;}
.wlistings .wlisting .post_category_datenschutz span.text{background:#0CA054;}
.widget_categories_list a.widget_cat_datenschutz{background:#0CA054;}

.whomefeaturedblock .wslide .wtext p.category_sicherheitslucke{background-color:#ADAD0A;}
.wlistingsingle .wlistingsingleheadertags p.category_sicherheitslucke{background:#ADAD0A;}
.wlistings .wlisting .post_category_sicherheitslucke span.text{background:#ADAD0A;}
.widget_categories_list a.widget_cat_sicherheitslucke{background:#ADAD0A;}

.whomefeaturedblock .wslide .wtext p.category_news-deutsch{background-color:#D16806;}
.wlistingsingle .wlistingsingleheadertags p.category_news-deutsch{background:#D16806;}
.wlistings .wlisting .post_category_news-deutsch span.text{background:#D16806;}
.widget_categories_list a.widget_cat_news-deutsch{background:#D16806;}

.whomefeaturedblock .wslide .wtext p.category_kinderschutz{background-color:#087208;}
.wlistingsingle .wlistingsingleheadertags p.category_kinderschutz{background:#087208;}
.wlistings .wlisting .post_category_kinderschutz span.text{background:#087208;}
.widget_categories_list a.widget_cat_kinderschutz{background:#087208;}

.whomefeaturedblock .wslide .wtext p.category_trojan{background-color:#B55D0A;}
.wlistingsingle .wlistingsingleheadertags p.category_trojan{background:#B55D0A;}
.wlistings .wlisting .post_category_trojan span.text{background:#B55D0A;}
.widget_categories_list a.widget_cat_trojan{background:#B55D0A;}

.whomefeaturedblock .wslide .wtext p.category_email{background-color:#3F007F;}
.wlistingsingle .wlistingsingleheadertags p.category_email{background:#3F007F;}
.wlistings .wlisting .post_category_email span.text{background:#3F007F;}
.widget_categories_list a.widget_cat_email{background:#3F007F;}

.whomefeaturedblock .wslide .wtext p.category_e-mail{background-color:#440C7F;}
.wlistingsingle .wlistingsingleheadertags p.category_e-mail{background:#440C7F;}
.wlistings .wlisting .post_category_e-mail span.text{background:#440C7F;}
.widget_categories_list a.widget_cat_e-mail{background:#440C7F;}

.whomefeaturedblock .wslide .wtext p.category_hacking-deutsch{background-color:#891818;}
.wlistingsingle .wlistingsingleheadertags p.category_hacking-deutsch{background:#891818;}
.wlistings .wlisting .post_category_hacking-deutsch span.text{background:#891818;}
.widget_categories_list a.widget_cat_hacking-deutsch{background:#891818;}

.whomefeaturedblock .wslide .wtext p.category_desafio-eset{background-color:#2B4D70;}
.wlistingsingle .wlistingsingleheadertags p.category_desafio-eset{background:#2B4D70;}
.wlistings .wlisting .post_category_desafio-eset span.text{background:#2B4D70;}
.widget_categories_list a.widget_cat_desafio-eset{background:#2B4D70;}

